/**
 * Full width view mode styles.
 */
/* line 8, stanford_person_full_width.scss */
.view-mode-stanford-huge-landscape .fullwidth .content .postcard {
  vertical-align: top;
  line-height: 100%;
}
/* line 12, stanford_person_full_width.scss */
.view-mode-stanford-huge-landscape .fullwidth .content .postcard .postcard-image {
  vertical-align: top;
  width: 66%;
  display: table-cell;
  overflow: hidden;
  position: relative;
}
/* line 20, stanford_person_full_width.scss */
.view-mode-stanford-huge-landscape .fullwidth .content .postcard .postcard-content {
  width: 32%;
  display: table-cell;
}

/* line 31, stanford_person_full_width.scss */
.js-enabled .postcard-image img {
  position: absolute;
  max-width: inherit !important;
  width: auto;
}
